.App {
  font-family: Verdana, sans-serif;
}

body {
  background: #8ec07c
}

.App-header {
  text-align: center;
}

button {
  font-family: Verdana, sans-serif;
  color: #3c3836;
  background-color: #d79921;
  border-radius: 10px;
  padding: 10px
}

button:hover {
  background-color: #cc241d;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  color: #3c3836;
}

img {
  border: 2px solid #3c3836;
}

.text {
  color: #3c3836;
}

.nav {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  font-family: Georgia, serif;
}

.nav-link {
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
  color: #3c3836;
}

.nav-link:hover {
  background: #cc241d;
  padding-block-start: 0%;
  padding-block-end: 0%;
}

.text {
  text-align: center;
  font-size: 20px;

}

.signup-container {
  border: 10px outset #8066FF;
  padding: 10px
}

.login-container {
  border: 10px outset #8066FF;
  padding: 10px
}

.error-message {
  color: red
}

.agent-prof-pic {
  border: 2px solid #3c3836;
}

.agent-details {
  padding: 10px;
}

.welcome {
  border: 5px solid #3c3836;
  color: #3c3836;
  background-color: #458588;
  padding: 10px;
  width:fit-content;
  margin: auto
}

/* .home {
} */

.agent-card {
  border: 5px solid #3c3836;
  background-color: #458588;
  padding: 10px;
  display:inline-flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding: 10px;
}